*.dart linguist-language=true
*.html linguist-detectable=false
*.cpp linguist-detectable=false
*.c linguist-detectable=false
*.java linguist-detectable=false
*.csharp linguist-detectable=false
*.cmake linguist-detectable=false
